table{
    
    background-color: rgba(21, 21, 204, 0.856);
    border-collapse: collapse;
}

table tr, td, th {
    text-align: center;
    padding: 8px;
    border: 3px solid black;
}
table th{
    font-size: 20px;
    font-weight: bold;
}

caption{
    font-size: 20px;
    font-weight: bold;
}

.col-1{
    background-color: rgb(0, 183, 255);
}

.col-2{
background-color: rgba(28, 190, 211, 0.897);
}
.col-3{
background-color: rgba(26, 204, 174, 0.692);
}
.col-4{
background-color: rgba(33, 206, 148, 0.582);
}